<a href="https://colab.research.google.com/github/JinsarAhmed/DataScience-20SW116/blob/main/20SW116_Lab_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Lab-02: Control Flow**
#RollNo: **20SW116**
#Section: **2**

# TASK:01

In [1]:
# 20SW116
# TASK: 01

points = 174
prize = ''
result = ''
# write your if statement here
if points >= 1 and points<=50:
  prize = 'wooden rabbit'
elif points >=51 and points<=150:
  prize = 'no prize'
elif points >=151 and points<=180:
  prize = 'water-thin mint'
elif points >=181 and points<=200:
  prize = 'penguin'
elif points>200:
  print('the point limit is 200, you cant exceed 200!')

if prize == 'no prize':
  result = 'oh dear, no prize this time'
elif prize == '':
  pass
else:
  result = 'Congratulations! you won a {}'.format(prize)

print(result)

Congratulations! you won a water-thin mint

# TASK:02

In [ ]:
# 20SW116
# TASK: 02

answer = 7
guess = 3

if guess < answer:
  result = "Oops! Your guess was too low."
elif guess > answer:
  result = "Oops! Your guess was too high."
elif guess == answer:
  result = "Nice! Your guess matched the answer!"

print(result)

Oops! Your guess was too low.

#TASK: 03

In [ ]:
# 20SW116
# TASK: 03
stateTax = {
    "CA": 0.075,
    "MN": 0.095,
    "NY": 0.089
}

purchase_amount = 100

for state in stateTax:
    if state in stateTax:
        taxRate = stateTax[state]
        rightAmount = purchase_amount * (1 + taxRate)
        print("Right Amount of tax in {}: ${}".format(state, rightAmount))

Right Amount of tax in CA: $107.5
Right Amount of tax in MN: $109.5
Right Amount of tax in NY: $108.89999999999999

#TASK: 04

In [ ]:
# 20SW116
# TASK: 04
sentence = ["the", "quick", "brown", "fox", "jumped", "over", "the",
"lazy", "dog"]

for word in sentence:
    print(word)

the
quick
brown
fox
jumped
over
the
lazy
dog

#TASK: 05

In [ ]:
# 20SW116
# TASK: 05
for integer in range(1, 31):
    if integer % 5 == 0:
        print(integer)

5
10
15
20
25
30

#TASK:06

In [ ]:
# 20SW116
# TASK: 06
names = ["Rick Sanchez", "Morty Smith", "Summer Smith", "Jerry Smith", "Beth Smith"]
first_names = [fname.lower() for fname, _ in (name.split() for name in names)]
print(first_names)

['rick', 'morty', 'summer', 'jerry', 'beth']

#TASK: 07

In [ ]:
# 20SW116
# TASK: 07
multiples_3 = [3*mul for mul in range(1,21)]
print(multiples_3)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60]

#TASK: 08

In [ ]:
# 20SW116
# TASK: 08
scores = {
 "Rick Sanchez": 70,
 "Morty Smith": 35,
 "Summer Smith": 82,
 "Jerry Smith": 23,
 "Beth Smith": 98
 }
passed = [names for names in scores if scores[names] >= 65]
print("Names of those who scored more than 65 are: ",passed)

Names of those who scored more than 65 are:  ['Rick Sanchez', 'Summer Smith', 'Beth Smith']

#TASK: 09

In [ ]:
# 20SW116
# TASK: 09
cast_names = ["Barney", "Robin", "Ted", "Lily", "Marshall"]
cast_heights = [72, 68, 72, 66, 76]

cast = dict(zip(cast_names, cast_heights)) # my code
print(cast)

{'Barney': 72, 'Robin': 68, 'Ted': 72, 'Lily': 66, 'Marshall': 76}

#TASK: 10

In [ ]:
# 20SW116
# TASK: 10
cast = ["Barney Stinson", "Robin Scherbatsky", "Ted Mosby", "Lily Aldrin", "Marshall Eriksen"]
heights = [72, 68, 72, 66, 76]

for index, name in enumerate(cast):
    cast[index] = name + " " +str(heights[index])

print(cast)

['Barney Stinson 72', 'Robin Scherbatsky 68', 'Ted Mosby 72', 'Lily Aldrin 66', 'Marshall Eriksen 76']