<a href="https://colab.research.google.com/github/JinsarAhmed/DataScience-20SW116/blob/main/Lab_05_20SW116.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Lab No-05 Tasks**
#**Lab-05: Introduction to Pandas**
#**Roll-No: 20SW116 (JINSAR AHMED)**
#**Section: 2**

#TASK: 01

In [ ]:
import pandas as pd

# Create a Pandas Series using the above data, with the name of the planets as
# the index and the distance from the Sun as your data.

distance_from_sun = [149.6, 1433.5, 227.9, 108.2, 778.6]
planets = ['Earth', 'Saturn', 'Mars', 'Venus', 'Jupiter']
dist_planets = pd.Series(distance_from_sun, index=planets)

# Calculate the number of minutes it takes sunlight to reach each planet. You can
# do this by dividing the distance from the Sun for each planet by the speed of light.
# Since in the data above the distance from the Sun is in units of 10^6 km, you can
# use a value for the speed of light of c = 18, since light travels 18 x 10^6 km/minute

time_light = dist_planets/18

# Use Boolean indexing to select only those planets for which sunlight takes less than 40 minutes to reach them.

close_planets = time_light[time_light < 40]


print("Distance from the Sun:")
print(dist_planets)
print("\nTime for Sunlight to Reach Each Planet in minutes:")
print(time_light)
print("\nPlanets where Sunlight Takes Less than 40 Minutes to reach:")
print(close_planets)

Distance from the Sun:
Earth       149.6
Saturn     1433.5
Mars        227.9
Venus       108.2
Jupiter     778.6
dtype: float64

Time for Sunlight to Reach Each Planet in minutes:
Earth       8.311111
Saturn     79.638889
Mars       12.661111
Venus       6.011111
Jupiter    43.255556
dtype: float64

Planets where Sunlight Takes Less than 40 Minutes to reach:
Earth     8.311111
Mars     12.661111
Venus     6.011111
dtype: float64

#TASK: 02

In [11]:
import pandas as pd
import numpy as np

# Since we will be working with ratings, we will set the precision of our dataframes to one decimal place.
pd.set_option('display.precision', 1)

# Create a Pandas DataFrame that contains the ratings some users have given to a
# series of books.

books = pd.Series(data=['Great Expectations', 'Of Mice and Men', 'Romeo and Juliet', 'The Time Machine', 'Alice in Wonderland'])
authors = pd.Series(data=['Charles Dickens', 'John Steinbeck', 'William Shakespeare', ' H. G. Wells', 'Lewis Carroll'])

user_1 = pd.Series(data=[3.2, np.nan, 2.5])
user_2 = pd.Series(data=[5., 1.3, 4.0, 3.8])
user_3 = pd.Series(data=[2.0, 2.3, np.nan, 4])
user_4 = pd.Series(data=[4, 3.5, 4, 5, 4.2])

# Using data above to create a Pandas DataFrame that has the following column:
# labels: 'Author', 'Book Title', 'User 1', 'User 2', 'User 3', 'User 4'.

# Create a dictionary with the data given above
dat = {
    'Author': authors,
    'Book Title': books,
    'User 1': user_1,
    'User 2': user_2,
    'User 3': user_3,
    'User 4': user_4
}

# Using dictionary to create a Pandas DataFrame
book_ratings = pd.DataFrame(dat)


# Replacing all the NaN values in DataFrame with the average rating in
# each column.
book_ratings.fillna(book_ratings.mean(), inplace=True)

print(book_ratings)

#Best rated books
best_rated = book_ratings[(book_ratings == 5).any(axis = 1)]['Book Title'].values
print("The best rated books are:", best_rated)

                Author           Book Title  User 1  User 2  User 3  User 4
0      Charles Dickens   Great Expectations     3.2     5.0     2.0     4.0
1       John Steinbeck      Of Mice and Men     2.9     1.3     2.3     3.5
2  William Shakespeare     Romeo and Juliet     2.5     4.0     2.8     4.0
3          H. G. Wells     The Time Machine     2.9     3.8     4.0     5.0
4        Lewis Carroll  Alice in Wonderland     2.9     3.5     2.8     4.2
The best rated books are: ['Great Expectations' 'The Time Machine']

<ipython-input-11-6b98d522c5c2>:37: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  book_ratings.fillna(book_ratings.mean(), inplace=True)