<a href="https://colab.research.google.com/github/JinsarAhmed/DataScience-20SW116/blob/main/Lab_01_20SW116.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Lab-01: Data Types and Operators**
# **RollNo: 20SW116**
# **Section: 2**

# TASK: 01

In [ ]:
name = "Afridi"
age = 34

print("My name is {} and i am {} years old\n".format(name, age))

My name is Afridi and i am 34 years old

# TASK: 02

In [ ]:
string = "Hello, World!"

print(f"capitalize(): {string.capitalize()}")
print(f"count('l'): {string.count('l')}")
print(f"endswith('World!'): {string.endswith('World!')}")
print(f"find('o'): {string.find('o')}")
print("format(): {0}, {1}".format("Hello", "World"))
print(f"index('o'): {string.index('o')}")
print(f"isalnum(): {string.isalnum()}")
print(f"isalpha(): {string.isalpha()}")
print(f"isascii(): {string.isascii()}")
print(f"isdecimal(): {string.isdecimal()}")
print(f"islower(): {string.islower()}")
print(f"isnumeric(): {string.isnumeric()}")
print(f"isprintable(): {string.isprintable()}")
print(f"isupper(): {string.isupper()}")
print(f"lower(): {string.lower()}")
print(f"replace('o', 'X'): {string.replace('o', 'X')}")
print(f"rfind('o'): {string.rfind('o')}")
print(f"rindex('o'): {string.rindex('o')}")
print(f"upper(): {string.upper()}")
print(f"zfill(20): {string.zfill(20)}")

capitalize(): Hello, world!
count('l'): 3
endswith('World!'): True
find('o'): 4
format(): Hello, World
index('o'): 4
isalnum(): False
isalpha(): False
isascii(): True
isdecimal(): False
islower(): False
isnumeric(): False
isprintable(): True
isupper(): False
lower(): hello, world!
replace('o', 'X'): HellX, WXrld!
rfind('o'): 8
rindex('o'): 8
upper(): HELLO, WORLD!
zfill(20): 0000000Hello, World!

# TASK: 03

In [ ]:

month = 8
days_in_month = [31,28,31,30,31,30,31,30,31,30,31,30]
num_days = days_in_month[month]
print("No of days in {}th month: ".format(month) , num_days)

No of days in 8th month:  31

# TASK: 04

In [ ]:
eclipse_dates = ['June 21, 2001', 'December 4, 2002', 'November 23, 2003',
 'March 29, 2006', 'August 1, 2008', 'July 22, 2009',
 'July 11, 2010', 'November 13, 2012', 'March 20, 2015', 'March 9, 2016']

print(eclipse_dates[-3:])

['November 13, 2012', 'March 20, 2015', 'March 9, 2016']

# TASK: 05

In [ ]:
student = {
    "name": "Afridi",
    "age": 20,
    "grades": {
        "math": 85,
        "science": 92,
        "history": 78
    }
}
print(student)

{'name': 'Afridi', 'age': 20, 'grades': {'math': 85, 'science': 92, 'history': 78}}